### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [5]:
list1 = [1,2,3,3,3,3,4,5]

def unique_list(l):
  "return a  list of unique element"
  result = []
  for i in l:
    if i not in result:
      result.append(i)
  return result

In [7]:
unique_list(list1)

print(unique_list.__doc__)

return a  list of unique element

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [18]:
# Write code here
string = 'green-red-yellow-black-white'

def str_sep(s):
  l = s.split("-")
  l.sort()
  s = "-".join(l)
  return s

In [19]:
str_sep(string)

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [20]:
# Write code here

string = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
def char_count(s):
  u_count =0
  l_count =0
  for i in s:
    if i.isupper():
      u_count += 1
    elif  i.islower():
      l_count += 1
  print("No. of Upper case characters :",u_count)
  print("No. of Lower case Characters :",l_count)
  return

In [21]:
char_count(string)

No. of Upper case characters : 9
No. of Lower case Characters : 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [25]:
# Write code here
s_List = [1, 2, 3, 4, 5, 6, 7, 8, 9]

def e_list(l):
  res =[]
  for i in l:
    if i%2==0:
      res.append(i)
  return res

In [26]:
e_list(s_List)

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [29]:
# Write code here
def per_num(n):
  sum = 0
  for i in range(1,n):
    if n%i==0:
      sum +=i
  if sum == n:
    return "perfect numbe "
  else:
    return "not a perfect number "

In [33]:
per_num(46)

'not a perfect number '

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [46]:
# Write code here
def Con_dec(*args):
  dec = dict()
  for i in args:
    for key,value in i.items():
      dec[key]=value
  return dec

In [47]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

Con_dec(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [60]:
# Write code heres
s = "hello how are you i am fine thank you"

def max_count(s):
  l = s.split()
  dic = dict()
  for i in l:
    n = l.count(i)
    idx = l.index(i)
    dic[n]=l[idx]
  print(dic[max(dic.keys())],"->",max(dic.keys()))
  return

In [61]:
max_count(s)

you -> 2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [11]:
# Write code here

list1 = [13,42,15,37,22,39,41,50]

def histogram(l):
  dic = dict()
  lis = [0,0,0,0,0]
  for i in l:
    if i>0 and i<11:
      lis[0] +=1
    elif i>10 and i<21:
      lis[1] +=1
    elif i>20 and i<31:
      lis[2] +=1
    if i>30 and i<41:
      lis[3] +=1
    if i>40 and i<51:
      lis[4] +=1
  dic['0-10']=lis[0]
  dic['11-20']=lis[1]
  dic['21-30']=lis[2]
  dic['31-40']=lis[3]
  dic['41-50']=lis[4]

  return dic

In [12]:
histogram(list1)

{'0-10': 0, '11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [54]:
# Write code here
l = [(1,1),(2,2),(3,3),(4,4)]
q = [0,0]
import math
def close_dis(l,q):
  m=float('inf')
  result = None
  for i in l:
    dis = math.sqrt((q[1]-i[1])**2 + (q[0]-i[0])**2)
    if m < dis:
      continue
    elif m > dis:
      m = dis
      result = i
  return result

In [55]:
close_dis(l,q)

(1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [7]:
# Write code here
str1 = input("enter your pragraphs ")

list1 = str1.split()

def BOW(l):
  dic = dict()
  for i in l:
    count = l.count(i)
    dic[i]=count

  return dic

enter your pragraphs A "Bag of Words" (BoW) is a fundamental concept in natural language processing and text analysis. It is a simple and intuitive representation used to describe the content of a text by treating it as a collection of individual words, disregarding grammar and word order but keeping multiplicity. Each word in the text is treated as a feature, and the frequency of each word is recorded, forming a "bag" that represents the text. This method is commonly used in tasks like document classification, sentiment analysis, and information retrieval. Although it ignores the context and sequence of words, the BoW model provides a robust and efficient way to convert textual data into a numerical form that machine learning algorithms can easily process.

In [9]:
list2 = ["John","likes","to","watch","movies","Mary","likes","movies","too"]
BOW(list2)

{'John': 1, 'likes': 2, 'to': 1, 'watch': 1, 'movies': 2, 'Mary': 1, 'too': 1}

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [26]:
# Write code here
l3 = [11,12,13,14,15]
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
a = lambda l1,l2,l3:l1+l2+l3

In [27]:
a(l1,l2,l3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [7]:
list1 = [1,2,3,4,5,6]



def power(list1):
  l = []
  l.append(list1[0])
  for i in range(1,len(list1)-1):
    l.append(list1[i]**list1[i-1])
  l.append('-')

  return l

In [8]:
power(list1)

[1, 2, 9, 64, 625, '-']

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [17]:
# Write code here

s = input("enter sentence ")

s = s.lower()
l = list(s)

list(filter(lambda i:i in "aeiou",l))

enter sentence function

['u', 'i', 'o']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [21]:
# Write code here
l = [[1,2,3],[4,5,6]]
import functools
list(functools.reduce(lambda x,y :x+y,l))

[1, 2, 3, 4, 5, 6]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [22]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']

In [28]:
l =list(filter(lambda x : True if x['grade']=="highly-skilled" else False , employees ))

In [29]:
list(map(lambda x:x["fname"] + x["lname"] , l))

['NehaSingh', 'AbhinavSharma']