# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [17]:
# Write your code here
print("Data", "Science", "Mentorship", "Program",sep='-',end='-started-')
print("By", "CampusX",sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [5]:
# Write your code here
c = int(input("enter celsius"))
f = c*(9/5)+32
print("fahrenheit: ",f)

enter celsius100
fahrenheit:  212.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [6]:
# Write your code here
a = int(input("enter 1st number:"))
b = int(input("enter 2nd nuber:"))

temp = a
a = b
b = temp

print(a,b)

enter 1st number:9
enter 2nd nuber:7
7 9

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [11]:
# Write your code here
x1 = int(input("enter x1 : "))
y1 = int(input("enter y1 : "))
x2 = int(input("enter x2 : "))
y2 = int(input("enter y2 : "))

eud = ((x2-x1)**2+(y2-y1)**2)**0.5
print("euclidean distance",eud)

enter x1 : 3
enter y1 : 2
enter x2 : 4
enter y2 : 1
euclidean distance 1.4142135623730951

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [12]:
# Write your code here
P = int(input("principle amount "))
R = int(input("intrest rate "))
T = int(input("Time in year"))
S_I = (P*R*T)/100
print("simple intrest ",S_I)

principle amount 48000
intrest rate 10
Time in year4
simple intrest  19200.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [16]:
# Write your code here
legs = int(input("enter total legs :"))
heads = int(input("enter total heads :"))

c = (4*heads-legs)//2
d = heads-c
print('number of dogs - {} and chicken - {}'.format(d,c) )

enter total legs :28
enter total heads :10
number of dogs - 4 and chicken - 6

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [20]:
# Write your code here
n = int(input("enter number "))
sum = (n*(2*n+1)*(n+1))/6
print('sum of squares of first n natural numbers ' ,sum)

enter number 10
sum of squares of first n natural numbers  385.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [22]:
# Write your code here
a0 = int(input("enter first number "))
a1 = int(input("enter second number "))
n = int(input("enter n term"))

d = a1-a0

an = a0 + (n-1)*d

print("a{} - ".format(n),an)

enter first number 2
enter second number 4
enter n term8
a8 -  16

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [24]:
# Write your code here
n1 = int(input("enter numerator n1 "))
d1 = int(input("enter denominator  d1 "))

n2 = int(input("enter numerator n2 "))
d2 = int(input("enter denominator  d2 "))

n = n1*d2 + n2*d1
d = d1*d2

print("{}/{}".format(n,d))

enter numerator n1 2
enter denominator  d1 7
enter numerator n2 3
enter denominator  d2 5
31/35

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [25]:
# Write your code here
H = int(input("enter height tank "))
L = int(input("enter length of tank "))
B = int(input("enter breadth of tank"))

volume_tank = L*B*H

h = int(input("enter height of glass "))
r = int(input("enter radius og glass "))

volume_glass = 3.14*r**2*H

no_glass = volume_tank//volume_glass
print("no of glass ",no_glass)

enter height tank 20
enter length of tank 20
enter breadth of tank20
enter height of glass 5
enter radius og glass 2
no of glass  31.0