# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [67]:
# write your code hereInput  :
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

unique = []

for i in test_list:
  unique.append(i[0])
unique = set(unique)

result = []
for i in unique:
  result.append([i])
  for j in test_list:
    if j[0] == i:
      result[-1].append(j[1])

print(result)
l =[]
for i in result:
  l.append(tuple(i))

[[5, 6, 7, 8], [6, 10], [7, 13]]

In [68]:
l

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [20]:
# write your code here
t = (1, 5, 7, 8, 10)
l = []
n = len(t)
for i in range(n):
  if i==0:
    res = t[i]*t[i+1]
    l.append(res)
  elif i >= 1 and i < n-1:
    res = t[i-1]*t[i]+t[i]*t[i+1]
    l.append(res)
  else:
    res =  t[i]*t[i-1]
    l.append(res)
print(tuple(l))

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [22]:
# write your code here
t1 = (1,2,3,0)
t2 = (1,2,3,0)
for i ,j in zip(t1,t2):
  if i != j:
    print("t1 and t2 are not same")
    break
else:
  print("t1 and t2 are same")

t1 and t2 are same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [32]:
# write your code here
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
l=0
t=0
s=0
for i in list1:

  if type(i)==list:
    l += 1
  elif type(i)==tuple:
    t +=1
  elif type(i)==set:
    s+=1

print("list - ",l)
print("tuple - ",t)
print("set - ",s)

list -  2
tuple -  1
set -  2

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [40]:
# write your code here
n = int(input("Enter no of student "))
list1 = []
for i in range(n):
  result =tuple()
  name = input("Enter student name ")
  result +=(name,)
  edu = input("Enter Higher Eduction ")
  result +=(edu,)
  skill = input("Enter primary skill ")
  result +=(skill,)
  year = input("Enter year of gradution ")
  result +=(year,)
  list1.append(result)
  del(result)

print(list1)
print("Enter job role requiement ")

result2 =tuple()
edu = input("Enter Higher Eduction ")
result2 +=(edu,)
skill = input("Enter primary skill ")
result2 +=(skill,)
year = input("Enter year of gradution ")
result2 +=(year,)

for i in list1:
  for j in result2:
    if j not in i:
      break
  else:
    print(i)

Enter no of student 2
Enter student name farman
Enter Higher Eduction btech
Enter primary skill python
Enter year of gradution 2025
Enter student name sultan
Enter Higher Eduction btech
Enter primary skill sql
Enter year of gradution 2017
[('farman', 'btech', 'python', '2025'), ('sultan', 'btech', 'sql', '2017')]
Enter job role requiement
Enter Higher Eduction btech
Enter primary skill python
Enter year of gradution 2025
('farman', 'btech', 'python', '2025')

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [44]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

s1 = set(ar1)
s2 = set(ar2)
s3 = set(ar3)

print(list(s1&s2&s3))

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [47]:
# write your code here
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
s = set()
for i in Str1:
  if i in "aeiouAEIOU":
    s.add(i)
print("No of unique vowels-",len(s))

No of unique vowels- 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [49]:
# write your code here

str1 = input("Enter string ")
s = set(str1)
if len(s)==2:
  print("yes")
else:
  print("no")

Enter string farma
no

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [51]:
# write your code here
arr = [[1, 2, 2, 4, 3, 6],[5, 1, 3, 4],[9, 5, 7, 1],[2, 4, 1, 3]]

s = set()
for i in arr:
  s.update(i)

print(list(s))

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [54]:
# write your code here
lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69]
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]

print([i for i in set(lst1)&set(lst2)])

[9, 26, 11, 28]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [5]:
# write your code here
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
dec = dict()
for key ,value in test_dict.items():
  dec[key]=len(set(value))
print(dec)

{'CampusX': 5, 'is': 4, 'Best': 3}

In [9]:
for i,j in dec.items():
    if j == max(dec.values()):
        print(i)

CampusX

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [18]:
# write your code here
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
for key,value in repl_dict.items():
  if key in test_str:
    test_str = (test_str.replace(key , value))
print(test_str)

CampusX is the best channel for Data-Science students.

In [11]:
test_str

['CampusX', 'best', 'for', 'DS', 'students.']

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [19]:
# write your code here
test_list = ["CampusX", 10]
key_list = ["name", "id"]

print(dict([(i, j) for i,j in zip(key_list,test_list)]))

{'name': 'CampusX', 'id': 10}

In [47]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

n = len(test_list)
l =[]

for i in range(0,n,2):
  l.append({key_list[0]:test_list[i],key_list[1]:test_list[i+1]})
print(l)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [54]:
# write your code here
l = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dec = dict()
for i , j in l:
  dec.update({i:[j]})

In [55]:
dec

{'akash': [10],
 'gaurav': [12],
 'anand': [14],
 'suraj': [20],
 'akhil': [25],
 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [62]:
# write your code here
dic = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
l = list(sorted(dic.keys()))

In [63]:
l

['a', 'b', 'c']

In [66]:
d = dict()
for i in l:
  d.update({i:dic[i]})

print(d)

{'a': [19, 4], 'b': [12, 10], 'c': [3]}